.header{
    text-align: center;
    padding: 1rem;
    img{
        width: 200px;
    }
    h1{
        font-size: 3rem;
        margin: 1rem;
    }
    input{
        width: 80%;
        border: none;
        height: 40px;
        border-radius: 20px;
    }
}