.cardDiv{
    width: 550px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
}

img{
    width: 150px;
    height: 150px;
}

.pDiv{
    text-align: start;
    font-size: 2rem;
    font-weight: 600;
    color: orangered;
}

span{
    color: white;
    font-weight: 300;
}

.allCardDiv{
    margin-left: 3rem;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 3rem;
    border-radius: 1rem;
}
