@import "variables";
@import "functions";
@import "mixin";

body {
    @include display-flex;
}

header {
    background-color: $bg-dark;
    color: $text-light;
    padding: $text-font;

    h1 {
        color: red;
        font-size: 3rem;
    }
}

.section {
    background-color: blue;

    &-a {
        background-color: $bg-dark;
        color: set-text-color($bg-dark);
    }

    &-b {
        color: yellow;
        font-size: 1rem;
    }
}

%btn-shared {
    background-color: aqua;
    display: inline-block;
    text-decoration: none;
    width: 200px;
    text-align: center;
    padding: 10px 20px;
    border: 1px solid $bg-dark;
    margin: 20px;
    border-radius: 10px;
}

.btn {
    &-light {
        @extend %btn-shared;
        background-color: $bg-light;
        color: $text-dark;

        &:hover {
            background-color: $bg-dark;
            color: $text-light;
        }
    }

    &-dark {
        @extend %btn-shared;
        background-color: $bg-dark;
        color: $text-light;

        &:hover {
            background-color: $bg-light;
            color: $text-dark;
        }
    }

}